# Copyright 2025 NXP
#
# SPDX-License-Identifier: BSD-3-Clause
config MCUX_HAS_COMPONENT_driver.cmu_fc
    bool
    default y if MCUX_HW_IP_DriverType_CMU_FC

config MCUX_COMPONENT_driver.cmu_fc
    bool "cmu_fc"
    select MCUX_COMPONENT_driver.common
    depends on MCUX_HAS_COMPONENT_driver.cmu_fc
    help
      This driver provides APIs to configure the Clock Monitoring Unit Frequency Check module.