# Copyright 2025 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_COMPONENT_driver.flexio_a-format
    bool "Use driver flexio_a-format"
    select MCUX_COMPONENT_driver.flexio
    depends on MCUX_HAS_COMPONENT_driver.flexio
