# Copyright 2025 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HAS_COMPONENT_driver.smm
    bool
    default y if MCUX_HW_IP_DriverType_SMM

config MCUX_COMPONENT_driver.smm
    bool "smm"
    select MCUX_COMPONENT_driver.common
    depends on MCUX_HAS_COMPONENT_driver.smm
