
rsource "../../arch/dsp56800/configuration/Kconfig"
rsource "../../arch/dsp56800/core/Kconfig"

menu "Device header and startup"
    config MCUX_COMPONENT_device.CMSIS
        bool "header"

    config MCUX_COMPONENT_device.system
        bool "system"
        imply MCUX_COMPONENT_device.CMSIS

    config MCUX_COMPONENT_device.startup
        bool "startup"
        imply MCUX_COMPONENT_device.system
endmenu

menu "Device Suite"
    config MCUX_PRJSEG_module.device.suite
        bool "Use default device suite"
endmenu

config MCUX_COMPONENT_device.startup_common
    bool "common startup"
    default y if MCUX_COMPONENT_device.startup