# Copyright 2026 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HAS_COMPONENT_driver.espi
    bool
    default y if MCUX_HW_IP_DriverType_ESPI

config MCUX_COMPONENT_driver.espi
    bool "espi"
    depends on MCUX_HAS_COMPONENT_driver.espi
