# Ignore the west managed projects
boards/
arch/arm/CMSIS/
components/
devices/DSC
devices/i.MX
devices/Kinetis
devices/LPC
devices/MCX
devices/RT
devices/Wireless
examples/
test/
docs/
MIR/
ecosystem/
manifest_int/
devices/internal
devices_int/
examples_int/
svd/

firmware/
middleware/aws_iot
middleware/cadence/nnlib
middleware/dhara
middleware/emwin
middleware/lvgl
middleware/metering
middleware/touch
middleware/multicore
middleware/sdmmc
middleware/fatfs
middleware/lwip
middleware/cadence/codecs/
middleware/cadence/multicore-xaf/
middleware/cadence/naturedsp/
middleware/cjson/
middleware/mcuboot_opensource
middleware/edgefast_bluetooth/
middleware/freemaster/
middleware/issdk/
middleware/libjpeg/
middleware/littlefs/
middleware/llhttp/
middleware/lin_stack/
middleware/audio_voice/maestro/
middleware/audio_voice/components/
middleware/mbedtls/
middleware/mbedtls3x/
middleware/mmcau/
middleware/motor_control/
middleware/openh264/
middleware/pkcs11/
middleware/pngdec/
middleware/rtcesl/
middleware/secure-subsystem/
middleware/soem/
middleware/tfm/
middleware/tinycbor/
middleware/usb/
middleware/wifi_nxp/
middleware/wireless/
middleware/issdk
middleware/nxp_iot_agent/
middleware/se_hostlib/
middleware/eiq/
middleware/maestro/
middleware/openvg/
middleware/vglite/
middleware/vit/
middleware/voice_seeker/
middleware/voice_spot/

migrate/
rtos/

tool_data/

*.pyc
build
sdkgen_log
merged_data
build_option.yml
index.yml

# IDE files
**/.idea/
