# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HAS_COMPONENT_driver.flexspi_dma3
    bool
    default y if MCUX_HAS_COMPONENT_driver.flexspi && (MCUX_HAS_COMPONENT_driver.dma3)

config MCUX_COMPONENT_driver.flexspi_dma3
    bool "flexspi_dma3"
    select MCUX_COMPONENT_driver.flexspi
    select MCUX_COMPONENT_driver.dma3 if MCUX_HAS_COMPONENT_driver.dma3
    depends on MCUX_HAS_COMPONENT_driver.flexspi_dma3
