# Copyright 2024-2025 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HAS_COMPONENT_driver.lpc_i2c
    bool
    default y if MCUX_HW_IP_DriverType_I2C_SERIALIF

config MCUX_COMPONENT_driver.lpc_i2c
    bool "lpc_i2c"
    select MCUX_COMPONENT_driver.common
    depends on MCUX_HAS_COMPONENT_driver.lpc_i2c
