# Copyright 2024 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HAS_COMPONENT_driver.flash_k4
    bool
    default y if MCUX_HW_IP_DriverType_FLASH_K4

config MCUX_COMPONENT_driver.flash_k4.EXPLICITLY_ALLOW_FOR_FMU_IP
    bool "Enable flash_k4 driver for MCX series with FMU IP"
    default n
    depends on MCUX_HW_IP_DriverType_FMU && MCUX_HW_SOC_SERIES_MCX
    help
        flash_k4 driver is also compatible with FMU IP used on MCX A/N devices
        however its integration into SDK is currently problematic due to API
        collision with ROM based FLASH driver. This option is used to enable the
        use of flash_k4 driver and prevent its automatic enablement based on IP
        compatibility.

config MCUX_COMPONENT_driver.flash_k4
    bool "flash_k4"
    select MCUX_COMPONENT_driver.common
    depends on MCUX_HAS_COMPONENT_driver.flash_k4 || MCUX_COMPONENT_driver.flash_k4.EXPLICITLY_ALLOW_FOR_FMU_IP

if MCUX_COMPONENT_driver.flash_k4
    config FLASH_COMMAND_COMPLETE_TIMEOUT
        int "Max loops to wait for flash command operations (0 means wait forever)"
        default 0
        help
          This parameter defines how many loops to check completion before return timeout.
          If defined as 0, driver will wait forever until completion.

    config FLASH_WRITE_ENABLE_TIMEOUT
        int "Max loops to wait for flash program-erase write enable (0 means wait forever)"
        default 0
        help
          This parameter defines how many loops to check completion before return timeout.
          If defined as 0, driver will wait forever until completion.

    config FLASH_PROGRAM_ERASE_READY_TIMEOUT
        int "Max loops to wait for flash program-erase ready (0 means wait forever)"
        default 0
        help
          This parameter defines how many loops to check completion before return timeout.
          If defined as 0, driver will wait forever until completion.
endif