# FIXME improved shared arch files
rsource "../../arch/xtensa/configuration/Kconfig"
rsource "../../arch/xtensa/core/Kconfig"

menu "Device header and startup"
    config MCUX_COMPONENT_device.CMSIS
        bool "header"

    config MCUX_COMPONENT_device.system
        bool "system"
        imply MCUX_COMPONENT_device.CMSIS
endmenu

menu "Device Suite"
    config MCUX_PRJSEG_module.device.suite
        bool "Use default device suite"
endmenu
