# Copyright 2025 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HAS_COMPONENT_driver.sramc
    bool
    default y if MCUX_HW_IP_DriverType_SRAMC

config MCUX_COMPONENT_driver.sramc
    bool "sramc"
    select MCUX_COMPONENT_driver.common
    depends on MCUX_HAS_COMPONENT_driver.sramc