${PERIPHERAL}$->CH[${CHANNEL}$].TCD_CSR = 0U;
#ifdef ${VPREFIX}$_TCD${CHANNEL}$_SADDR_INIT
  ${PERIPHERAL}$->CH[${CHANNEL}$].TCD_SADDR = ${VPREFIX}$_TCD${CHANNEL}$_SADDR_INIT;
#else
  ${PERIPHERAL}$->CH[${CHANNEL}$].TCD_SADDR = 0UL;
#endif /* ${VPREFIX}$_TCD${CHANNEL}$_SADDR_INIT */
#ifdef ${VPREFIX}$_TCD${CHANNEL}$_SOFF_INIT
  ${PERIPHERAL}$->CH[${CHANNEL}$].TCD_SOFF = ${VPREFIX}$_TCD${CHANNEL}$_SOFF_INIT;
#else
  ${PERIPHERAL}$->CH[${CHANNEL}$].TCD_SOFF = 0U;
#endif /* ${VPREFIX}$_TCD${CHANNEL}$_SOFF_INIT */
#ifdef ${VPREFIX}$_TCD${CHANNEL}$_ATTR_INIT
  ${PERIPHERAL}$->CH[${CHANNEL}$].TCD_ATTR = ${VPREFIX}$_TCD${CHANNEL}$_ATTR_INIT;
#else
  ${PERIPHERAL}$->CH[${CHANNEL}$].TCD_ATTR = 0U;
#endif /* ${VPREFIX}$_TCD${CHANNEL}$_ATTR_INIT */
#ifdef ${VPREFIX}$_TCD${CHANNEL}$_NBYTES_MLOFFNO_INIT
  ${PERIPHERAL}$->CH[${CHANNEL}$].TCD_NBYTES_MLOFFNO = ${VPREFIX}$_TCD${CHANNEL}$_NBYTES_MLOFFNO_INIT;
#endif /* ${VPREFIX}$_TCD${CHANNEL}$_NBYTES_MLOFFNO_INIT */
#ifdef ${VPREFIX}$_TCD${CHANNEL}$_NBYTES_MLOFFYES_INIT
  ${PERIPHERAL}$->CH[${CHANNEL}$].TCD_NBYTES_MLOFFYES = ${VPREFIX}$_TCD${CHANNEL}$_NBYTES_MLOFFYES_INIT;
#endif /* ${VPREFIX}$_TCD${CHANNEL}$_NBYTES_MLOFFYES_INIT */
#if !(defined(${VPREFIX}$_TCD${CHANNEL}$_NBYTES_MLOFFNO_INIT) || defined(${VPREFIX}$_TCD${CHANNEL}$_NBYTES_MLOFFYES_INIT))
  ${PERIPHERAL}$->CH[${CHANNEL}$].TCD_NBYTES_MLOFFNO = 0UL;
#endif /* ${VPREFIX}$_TCD${CHANNEL}$_NBYTES_INIT */
#ifdef ${VPREFIX}$_TCD${CHANNEL}$_SLAST_SDA_INIT
  ${PERIPHERAL}$->CH[${CHANNEL}$].TCD_SLAST_SDA = ${VPREFIX}$_TCD${CHANNEL}$_SLAST_SDA_INIT;
#else
  ${PERIPHERAL}$->CH[${CHANNEL}$].TCD_SLAST_SDA = 0UL;
#endif /* ${VPREFIX}$_TCD${CHANNEL}$_SLAST_SDA_INIT */
#ifdef ${VPREFIX}$_TCD${CHANNEL}$_DADDR_INIT
  ${PERIPHERAL}$->CH[${CHANNEL}$].TCD_DADDR = ${VPREFIX}$_TCD${CHANNEL}$_DADDR_INIT;
#else
  ${PERIPHERAL}$->CH[${CHANNEL}$].TCD_DADDR = 0UL;
#endif /* ${VPREFIX}$_TCD${CHANNEL}$_DADDR_INIT */
#ifdef ${VPREFIX}$_TCD${CHANNEL}$_DOFF_INIT
  ${PERIPHERAL}$->CH[${CHANNEL}$].TCD_DOFF = ${VPREFIX}$_TCD${CHANNEL}$_DOFF_INIT;
#else
  ${PERIPHERAL}$->CH[${CHANNEL}$].TCD_DOFF = 0U;
#endif /* ${VPREFIX}$_TCD${CHANNEL}$_DOFF_INIT */
#ifdef ${VPREFIX}$_TCD${CHANNEL}$_CITER_ELINKNO_INIT
  ${PERIPHERAL}$->CH[${CHANNEL}$].TCD_CITER_ELINKNO = ${VPREFIX}$_TCD${CHANNEL}$_CITER_ELINKNO_INIT;
#endif /* ${VPREFIX}$_TCD${CHANNEL}$_CITER_ELINKNO_INIT */
#ifdef ${VPREFIX}$_TCD${CHANNEL}$_CITER_ELINKYES_INIT
  ${PERIPHERAL}$->CH[${CHANNEL}$].TCD_CITER_ELINKYES = ${VPREFIX}$_TCD${CHANNEL}$_CITER_ELINKYES_INIT;
#endif /* ${VPREFIX}$_TCD${CHANNEL}$_CITER_ELINKYES_INIT */
#if !(defined(${VPREFIX}$_TCD${CHANNEL}$_CITER_ELINKNO_INIT) || defined(${VPREFIX}$_TCD${CHANNEL}$_CITER_ELINKYES_INIT))
  ${PERIPHERAL}$->CH[${CHANNEL}$].TCD_CITER_ELINKNO = 0U;
#endif /* ${VPREFIX}$_TCD${CHANNEL}$_CITER_ELINK_INIT */
#ifdef ${VPREFIX}$_TCD${CHANNEL}$_DLASTSGA_INIT
  ${PERIPHERAL}$->CH[${CHANNEL}$].TCD_DLAST_SGA = ${VPREFIX}$_TCD${CHANNEL}$_DLASTSGA_INIT;
#else
  ${PERIPHERAL}$->CH[${CHANNEL}$].TCD_DLAST_SGA = 0UL;
#endif /* ${VPREFIX}$_TCD${CHANNEL}$_DLASTSGA_INIT */
#ifdef ${VPREFIX}$_TCD${CHANNEL}$_BITER_ELINKNO_INIT
  ${PERIPHERAL}$->CH[${CHANNEL}$].TCD_BITER_ELINKNO = ${VPREFIX}$_TCD${CHANNEL}$_BITER_ELINKNO_INIT;
#endif /* ${VPREFIX}$_TCD${CHANNEL}$_BITER_ELINKNO_INIT */
#ifdef ${VPREFIX}$_TCD${CHANNEL}$_BITER_ELINKYES_INIT
  ${PERIPHERAL}$->CH[${CHANNEL}$].TCD_BITER_ELINKYES = ${VPREFIX}$_TCD${CHANNEL}$_BITER_ELINKYES_INIT;
#endif /* ${VPREFIX}$_TCD${CHANNEL}$_BITER_ELINKYES_INIT */
#if !(defined(${VPREFIX}$_TCD${CHANNEL}$_BITER_ELINKNO_INIT) || defined(${VPREFIX}$_TCD${CHANNEL}$_BITER_ELINKYES_INIT))
  ${PERIPHERAL}$->CH[${CHANNEL}$].TCD_BITER_ELINKNO = 0U;
#endif /* ${VPREFIX}$_TCD${CHANNEL}$_BITER_ELINK_INIT */
#ifdef ${VPREFIX}$_TCD${CHANNEL}$_CSR_INIT
  ${PERIPHERAL}$->CH[${CHANNEL}$].TCD_CSR = (${VPREFIX}$_TCD${CHANNEL}$_CSR_INIT & ~DMA_TCD_CSR_START_MASK);
#else
  ${PERIPHERAL}$->CH[${CHANNEL}$].TCD_CSR = 0U;
#endif /* ${VPREFIX}$_TCD${CHANNEL}$_CSR_INIT */
