#if defined(${VPREFIX}$_TCD0_CSR_INIT) && (${VPREFIX}$_TCD0_CSR_INIT & DMA_TCD_CSR_START_MASK)
  ${PERIPHERAL}$->CH[0].TCD_CSR |= DMA_TCD_CSR_START_MASK;
#endif /* defined(${VPREFIX}$_TCD0_CSR_INIT) && (${VPREFIX}$_TCD0_CSR_INIT & DMA_TCD_CSR_START_MASK) */
#if defined(${VPREFIX}$_TCD1_CSR_INIT) && (${VPREFIX}$_TCD1_CSR_INIT & DMA_TCD_CSR_START_MASK)
  ${PERIPHERAL}$->CH[1].TCD_CSR |= DMA_TCD_CSR_START_MASK;
#endif /* defined(${VPREFIX}$_TCD1_CSR_INIT) && (${VPREFIX}$_TCD1_CSR_INIT & DMA_TCD_CSR_START_MASK) */
#if defined(${VPREFIX}$_TCD2_CSR_INIT) && (${VPREFIX}$_TCD2_CSR_INIT & DMA_TCD_CSR_START_MASK)
  ${PERIPHERAL}$->CH[2].TCD_CSR |= DMA_TCD_CSR_START_MASK;
#endif /* defined(${VPREFIX}$_TCD2_CSR_INIT) && (${VPREFIX}$_TCD2_CSR_INIT & DMA_TCD_CSR_START_MASK) */
#if defined(${VPREFIX}$_TCD3_CSR_INIT) && (${VPREFIX}$_TCD3_CSR_INIT & DMA_TCD_CSR_START_MASK)
  ${PERIPHERAL}$->CH[3].TCD_CSR |= DMA_TCD_CSR_START_MASK;
#endif /* defined(${VPREFIX}$_TCD3_CSR_INIT) && (${VPREFIX}$_TCD3_CSR_INIT & DMA_TCD_CSR_START_MASK) */
#if defined(${VPREFIX}$_TCD4_CSR_INIT) && (${VPREFIX}$_TCD4_CSR_INIT & DMA_TCD_CSR_START_MASK)
  ${PERIPHERAL}$->CH[4].TCD_CSR |= DMA_TCD_CSR_START_MASK;
#endif /* defined(${VPREFIX}$_TCD4_CSR_INIT) && (${VPREFIX}$_TCD4_CSR_INIT & DMA_TCD_CSR_START_MASK) */
#if defined(${VPREFIX}$_TCD5_CSR_INIT) && (${VPREFIX}$_TCD5_CSR_INIT & DMA_TCD_CSR_START_MASK)
  ${PERIPHERAL}$->CH[5].TCD_CSR |= DMA_TCD_CSR_START_MASK;
#endif /* defined(${VPREFIX}$_TCD5_CSR_INIT) && (${VPREFIX}$_TCD5_CSR_INIT & DMA_TCD_CSR_START_MASK) */
#if defined(${VPREFIX}$_TCD6_CSR_INIT) && (${VPREFIX}$_TCD6_CSR_INIT & DMA_TCD_CSR_START_MASK)
  ${PERIPHERAL}$->CH[6].TCD_CSR |= DMA_TCD_CSR_START_MASK;
#endif /* defined(${VPREFIX}$_TCD6_CSR_INIT) && (${VPREFIX}$_TCD6_CSR_INIT & DMA_TCD_CSR_START_MASK) */
#if defined(${VPREFIX}$_TCD7_CSR_INIT) && (${VPREFIX}$_TCD7_CSR_INIT & DMA_TCD_CSR_START_MASK)
  ${PERIPHERAL}$->CH[7].TCD_CSR |= DMA_TCD_CSR_START_MASK;
#endif /* defined(${VPREFIX}$_TCD7_CSR_INIT) && (${VPREFIX}$_TCD7_CSR_INIT & DMA_TCD_CSR_START_MASK) */
#ifdef ${VPREFIX}$_CH0_CSR_INIT
  ${PERIPHERAL}$->CH[0].CH_CSR = (${PERIPHERAL}$->CH[0].CH_CSR & (~${VPREFIX}$_CH0_CSR_INIT_MASK)) | (${VPREFIX}$_CH0_CSR_INIT & ${VPREFIX}$_CH0_CSR_INIT_MASK);
#endif /* ${VPREFIX}$_CH0_CSR_INIT */
#ifdef ${VPREFIX}$_CH1_CSR_INIT
  ${PERIPHERAL}$->CH[1].CH_CSR = (${PERIPHERAL}$->CH[1].CH_CSR & (~${VPREFIX}$_CH1_CSR_INIT_MASK)) | (${VPREFIX}$_CH1_CSR_INIT & ${VPREFIX}$_CH1_CSR_INIT_MASK);
#endif /* ${VPREFIX}$_CH1_CSR_INIT */
#ifdef ${VPREFIX}$_CH2_CSR_INIT
  ${PERIPHERAL}$->CH[2].CH_CSR = (${PERIPHERAL}$->CH[2].CH_CSR & (~${VPREFIX}$_CH2_CSR_INIT_MASK)) | (${VPREFIX}$_CH2_CSR_INIT & ${VPREFIX}$_CH2_CSR_INIT_MASK);
#endif /* ${VPREFIX}$_CH2_CSR_INIT */
#ifdef ${VPREFIX}$_CH3_CSR_INIT
  ${PERIPHERAL}$->CH[3].CH_CSR = (${PERIPHERAL}$->CH[3].CH_CSR & (~${VPREFIX}$_CH3_CSR_INIT_MASK)) | (${VPREFIX}$_CH3_CSR_INIT & ${VPREFIX}$_CH3_CSR_INIT_MASK);
#endif /* ${VPREFIX}$_CH3_CSR_INIT */
#ifdef ${VPREFIX}$_CH4_CSR_INIT
  ${PERIPHERAL}$->CH[4].CH_CSR = (${PERIPHERAL}$->CH[4].CH_CSR & (~${VPREFIX}$_CH4_CSR_INIT_MASK)) | (${VPREFIX}$_CH4_CSR_INIT & ${VPREFIX}$_CH4_CSR_INIT_MASK);
#endif /* ${VPREFIX}$_CH4_CSR_INIT */
#ifdef ${VPREFIX}$_CH5_CSR_INIT
  ${PERIPHERAL}$->CH[5].CH_CSR = (${PERIPHERAL}$->CH[5].CH_CSR & (~${VPREFIX}$_CH5_CSR_INIT_MASK)) | (${VPREFIX}$_CH5_CSR_INIT & ${VPREFIX}$_CH5_CSR_INIT_MASK);
#endif /* ${VPREFIX}$_CH5_CSR_INIT */
#ifdef ${VPREFIX}$_CH6_CSR_INIT
  ${PERIPHERAL}$->CH[6].CH_CSR = (${PERIPHERAL}$->CH[6].CH_CSR & (~${VPREFIX}$_CH6_CSR_INIT_MASK)) | (${VPREFIX}$_CH6_CSR_INIT & ${VPREFIX}$_CH6_CSR_INIT_MASK);
#endif /* ${VPREFIX}$_CH6_CSR_INIT */
#ifdef ${VPREFIX}$_CH7_CSR_INIT
  ${PERIPHERAL}$->CH[7].CH_CSR = (${PERIPHERAL}$->CH[7].CH_CSR & (~${VPREFIX}$_CH7_CSR_INIT_MASK)) | (${VPREFIX}$_CH7_CSR_INIT & ${VPREFIX}$_CH7_CSR_INIT_MASK);
#endif /* ${VPREFIX}$_CH7_CSR_INIT */
