#ifdef ${VPREFIX}$_MP_CSR_INIT
  ${PERIPHERAL}$->MP_CSR = ${VPREFIX}$_MP_CSR_INIT;
#endif /* ${VPREFIX}$_MP_CSR_INIT */
#ifdef ${VPREFIX}$_CH_GRPRI0_INIT
  ${PERIPHERAL}$->CH_GRPRI[0] = ${VPREFIX}$_CH_GRPRI0_INIT;
#endif /* ${VPREFIX}$_CH_GRPRI0_INIT */
#ifdef ${VPREFIX}$_CH_GRPRI1_INIT
  ${PERIPHERAL}$->CH_GRPRI[1] = ${VPREFIX}$_CH_GRPRI1_INIT;
#endif /* ${VPREFIX}$_CH_GRPRI1_INIT */
#ifdef ${VPREFIX}$_CH_GRPRI2_INIT
  ${PERIPHERAL}$->CH_GRPRI[2] = ${VPREFIX}$_CH_GRPRI2_INIT;
#endif /* ${VPREFIX}$_CH_GRPRI2_INIT */
#ifdef ${VPREFIX}$_CH_GRPRI3_INIT
  ${PERIPHERAL}$->CH_GRPRI[3] = ${VPREFIX}$_CH_GRPRI3_INIT;
#endif /* ${VPREFIX}$_CH_GRPRI3_INIT */
#ifdef ${VPREFIX}$_CH_GRPRI4_INIT
  ${PERIPHERAL}$->CH_GRPRI[4] = ${VPREFIX}$_CH_GRPRI4_INIT;
#endif /* ${VPREFIX}$_CH_GRPRI4_INIT */
#ifdef ${VPREFIX}$_CH_GRPRI5_INIT
  ${PERIPHERAL}$->CH_GRPRI[5] = ${VPREFIX}$_CH_GRPRI5_INIT;
#endif /* ${VPREFIX}$_CH_GRPRI5_INIT */
#ifdef ${VPREFIX}$_CH_GRPRI6_INIT
  ${PERIPHERAL}$->CH_GRPRI[6] = ${VPREFIX}$_CH_GRPRI6_INIT;
#endif /* ${VPREFIX}$_CH_GRPRI6_INIT */
#ifdef ${VPREFIX}$_CH_GRPRI7_INIT
  ${PERIPHERAL}$->CH_GRPRI[7] = ${VPREFIX}$_CH_GRPRI7_INIT;
#endif /* ${VPREFIX}$_CH_GRPRI7_INIT */
#ifdef ${VPREFIX}$_CH0_PRI_INIT
  ${PERIPHERAL}$->CH[0].CH_PRI = ${VPREFIX}$_CH0_PRI_INIT;
#endif /* ${VPREFIX}$_CH0_PRI_INIT */
#ifdef ${VPREFIX}$_CH1_PRI_INIT
  ${PERIPHERAL}$->CH[1].CH_PRI = ${VPREFIX}$_CH1_PRI_INIT;
#endif /* ${VPREFIX}$_CH1_PRI_INIT */
#ifdef ${VPREFIX}$_CH2_PRI_INIT
  ${PERIPHERAL}$->CH[2].CH_PRI = ${VPREFIX}$_CH2_PRI_INIT;
#endif /* ${VPREFIX}$_CH2_PRI_INIT */
#ifdef ${VPREFIX}$_CH3_PRI_INIT
  ${PERIPHERAL}$->CH[3].CH_PRI = ${VPREFIX}$_CH3_PRI_INIT;
#endif /* ${VPREFIX}$_CH3_PRI_INIT */
#ifdef ${VPREFIX}$_CH4_PRI_INIT
  ${PERIPHERAL}$->CH[4].CH_PRI = ${VPREFIX}$_CH4_PRI_INIT;
#endif /* ${VPREFIX}$_CH4_PRI_INIT */
#ifdef ${VPREFIX}$_CH5_PRI_INIT
  ${PERIPHERAL}$->CH[5].CH_PRI = ${VPREFIX}$_CH5_PRI_INIT;
#endif /* ${VPREFIX}$_CH5_PRI_INIT */
#ifdef ${VPREFIX}$_CH6_PRI_INIT
  ${PERIPHERAL}$->CH[6].CH_PRI = ${VPREFIX}$_CH6_PRI_INIT;
#endif /* ${VPREFIX}$_CH6_PRI_INIT */
#ifdef ${VPREFIX}$_CH7_PRI_INIT
  ${PERIPHERAL}$->CH[7].CH_PRI = ${VPREFIX}$_CH7_PRI_INIT;
#endif /* ${VPREFIX}$_CH7_PRI_INIT */
