# Copyright 2025 NXP
#
# SPDX-License-Identifier: BSD-3-Clause

config MCUX_HAS_COMPONENT_driver.dcif_1
    bool
    default y if MCUX_HW_IP_DriverType_DCIF_1

config MCUX_COMPONENT_driver.dcif_1
    bool "dcif_1"
    select MCUX_COMPONENT_driver.common
    depends on MCUX_HAS_COMPONENT_driver.dcif_1

if MCUX_COMPONENT_driver.dcif_1

    config DCIF_DBI_CMD_TIMEOUT
        int "Max loops to wait for DBI command complete (0 means wait forever)"
        default 0

endif